* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #252932;
	padding: 10px;
}

.titulo {
	color: white;
	font-size: 25px;
}

.main-nav {
	list-style: none;
	margin: 5px 10px;
}

.main-nav__item {
	display: inline-block;
}

.main-nav__item a {
	padding: 10px 10px;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

.main-nav__item a:hover {
	background: #f56f3a;
	border-radius: 50px;
}

.index {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:auto;
}

.index > button {
    background: transparent;
    color: rgb(59, 59, 59);
    cursor: pointer;
	border: none;
	padding: 5px 15px;
}

.index > button:hover {
    background: #c5e5ff;
    color:  rgb(9, 9, 9);
	border-radius: 5px;
}

section {
	margin: 20px;
	background: black;
} 