* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 246, 246);
}

/* Menu de navegacion */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #000000;
    padding: 10px;
}

.titulo {
    color: white;
    font-size: 25px;
}

.main-nav {
    list-style: none;
    margin: 5px 10px;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    padding: 10px 10px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.main-nav__item a:hover {
    background: rgb(255, 165, 0);
    border-radius: 50px;
}

/*Seccion quienes somos*/
.laEmpresa {
    text-align: center;
    width: 100%;
    color: white;
}

.laEmpresa> div > h1 {
    font-size: 30px;
}

.laEmpresa> div > p {
    font-size: 17px;
}

.background-image {
    position: relative;
    z-index: 0;
    background-image: url('../assets/fondo.jpg');
    background-size: cover;
    padding: 80px 150px;
}

.background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.content {
    margin-top: 10px ;
}

/*Seccion instrucciones*/
.instrucciones {
    margin: 20px 10px;
}

/*Contendor de parrafos para las instrucciones*/
.parrafoInstrucciones{
    background-color: white;
    padding: 30px;
}

/*Contendor de parrafos para las instrucciones subrayado*/
.parrafoInstrucciones > h2 >u {
    text-decoration-color: rgb(255, 165, 0);
}

/*Contenedor de instruccion*/
.contenedorInstrucciones {
    margin-top: 10px;
}

/*Contenedor pasos 1 y 2*/
.pasos1y2 {
    display: flex;
    flex-direction: row;
}

.pasos1y2 > div {
    width: 50%;
    font-size: 16px;
    padding: 50px;
    background-color: white;
}

.pasos1y2 > div > h3{
    margin-bottom: 20px;
}

.paso1 {
    margin-right: 10px;
}

/*Contenedor pasos 3 y 4*/
.pasos3y4 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.pasos3y4 > div {
    width: 50%;
    font-size: 16px;
    padding: 50px;
    background-color: white;
}

.paso3 {
    margin-right: 10px;
}

.pasos3y4 > div > h3{
    margin-bottom: 20px;
}




